streamlit==1.21.0  # or an appropriate version
pandas==1.5.3      # Ensure compatibility with Streamlit
setuptools>=67.0.0
wheel
imbalanced-learn==0.12.4
joblib==1.4.2
matplotlib==3.7.1
matplotlib-inline==0.1.7
numpy==1.24.3
